* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*lazizbek part */
.wrapper{
    max-width: 1440px;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(images/Rectangle\ 1.svg);
    background-repeat: no-repeat;
}
nav{
    width: 100%;
    padding: 35px 122px 0px 584px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
.home ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
font-family: Manrope;
font-size: 14px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.home ul li a:hover{
    opacity: 0.7;
}
nav button{
    width: 91px;
    height: 40px;
    border-radius: 5px;

background: rgb(248, 70, 70);
color: rgb(255, 255, 255);
font-family: Manrope;
font-size: 14px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
border: none;
}
.icons{
    display: none;
}
.next{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 135px 653px 148px 122px;
}
.next h1{
    width: 665px;
    color: rgb(0, 0, 0);
font-family: Manrope;
font-size: 64px;
font-weight: 800;
line-height: 82px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
}
.next p{
    width: 665px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
font-family: Manrope;
font-size: 20px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.2px;
text-align: left;
}
.myInput{
    width: 502px;
    display: flex;
    align-items: center;
    border-radius: 8px;

background: rgb(255, 255, 255);
}
.myInput input{
    width: 360px;
    height: 71px;
    color: rgba(0, 0, 0, 0.4);
font-family: Manrope;
font-size: 16px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.2px;
text-align: left;
border: none;
padding-left: 32px;
}
.myInput button{
    width: 136px;
    height: 61px;
    border-radius: 8px;

background: rgb(248, 70, 70);
color: rgb(255, 255, 255);
font-family: Manrope;
font-size: 16px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.2px;
text-align: center;
border: none;
}
.section-1{
    width: 100%;
    padding: 120px 0px 90px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.section-1 h1{
    color: rgb(0, 0, 0);
font-family: Manrope;
font-size: 36px;
font-weight: 800;
line-height: 49px;
letter-spacing: 0%;
text-align: center;
}
.section-1 p{
    width: 994px;
    color: rgb(0, 0, 0);
font-family: Manrope;
font-size: 24px;
font-weight: 400;
line-height: 39.5px;
letter-spacing: 0.2px;
text-align: center;
}
.section-2{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 132px;
    column-gap: 116px;
    row-gap: 83px;
}
.each{
    width: 298px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.each h3{
    color: rgb(0, 0, 0);
font-family: Manrope;
font-size: 24px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 10px;
}
.each p{
    color: rgb(0, 0, 0);
font-family: Manrope;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.2px;
text-align: center;
}
.image-1{
    width: 80px;
    height: 77px;
    background-image: url(images/Ellipse\ 3.png);
    background-repeat: no-repeat;
    background-position-x: 34px;
    background-position-y: 0px;
}
.image-2{
    width: 80px;
    height: 76px;
    background-image: url(images/Ellipse\ 3.svg);
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 7px;
}
.image-3{
    width: 90px;
    height: 76px;
    background-image: url(images/Ellipse\ 4.svg);
    background-repeat: no-repeat;
    background-position-x: 45px;
    background-position-y: 7px;
}
.image-4{
    background-image: url(images/Ellipse\ 4.svg);
    background-repeat: no-repeat;
}
.image-5{
    background-image: url(images/Ellipse\ 1.svg);
    background-position-x: 34px;
    background-repeat: no-repeat;
    width: 80px;
}
.image-6{
    background-image: url(images/Ellipse\ 2.svg);
    background-repeat: no-repeat;
    background-position-x: 25px;
}
.section-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/image\ 1\ \(1\).svg);
    background-attachment: fixed;
    background-size: cover;
    background: rgb(248, 70, 70);
    padding-bottom: 68px;
}
.section-3 h1{
    color: rgb(255, 255, 255);
font-family: Manrope;
font-size: 48px;
font-weight: 800;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
margin-top: 68px;
}
.section-3 p{
    color: rgb(255, 255, 255);
font-family: Manrope;
font-size: 18px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 50px;
}
.rows{
    display: flex;
    gap: 59px;
    justify-content: center;
    align-items: start;
}
.rows p{
    width: 200px;
    color: rgb(255, 255, 255);
font-family: Manrope;
font-size: 18px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0%;
text-align: left;
}
.rows img{
    margin-top: 20px;
}
.section-4{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding: 160px 121px;
}
.first{
    width: 100%;
    display: flex;
    gap: 170px;
    justify-content: center;
    align-items: center;
}
.second{
    width: 100%;
    display: flex;
    gap: 145px;
    justify-content: center;
    align-items: center;
}
.writings{
    width: 523px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.writings h1{
    width: 100%;
    color: rgb(46, 46, 46);
font-family: Manrope;
font-size: 64px;
font-weight: 700;
line-height: 76px;
letter-spacing: 0%;
text-align: left;
}
.writings p{
    width: 100%;
    color: rgb(128, 128, 128);
font-family: Manrope;
font-size: 16px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
.writings button{
    width: 160px;
    height: 48px;
    border-radius: 8px;

background: rgb(248, 70, 70);
color: rgb(255, 255, 255);
font-family: Manrope;
font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
border: none;
}
.yozuvlar{
    width: 548px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: left;
}
.yozuvlar h1{
    width: 100%;
    color: rgb(46, 46, 46);
font-family: Manrope;
font-size: 64px;
font-weight: 700;
line-height: 76px;
letter-spacing: 0%;
text-align: left;
}
.yozuvlar p{
    width: 100%;
    color: rgb(128, 128, 128);
font-family: Manrope;
font-size: 16px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}
.yozuvlar button{
    width: 160px;
    height: 48px;
    border-radius: 8px;

background: rgb(248, 70, 70);
color: rgb(255, 255, 255);
font-family: Manrope;
font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
border: none;
}










/*fazliddin brat part */
.Fazliddin_page1 {
  width: 1440px;
  height: 603px;
  padding: 59px 165px 59px 165px;
  background: rgb(244, 245, 247);
}
.Fazliddin_page1 h1 {
  color: rgb(24, 25, 31);
  font-family: Manrope;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}
.Fazliddin_page1 p {
  color: rgb(24, 25, 31);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 5px;
}
.page1_box {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}
.page1_box_photo {
  width: 170px;
  height: 96px;
  border-radius: 16px;
  box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);
  background: rgb(255, 255, 255);
  margin-top: 120px;
  margin-left: 82px;
  padding: 15px 18px 24px 18px;
  transition: all 0.2s ease-in;

}
.page1_box_photo:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 10px 16px aqua
}
.page1_box_photo1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;
}
.input_photo {
  border-radius: 16px;
  width: 170px;
  height: 96px;
  box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);
  background: rgb(255, 255, 255);
  padding: 18px 24px 17px 24px;
  transition: all 0.2s ease-in;
}
.input_photo:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 10px 16px aqua
}
.input_photo_1 {
  border-radius: 16px;
  width: 170px;
  height: 96px;
  box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);
  background: rgb(255, 255, 255);
  padding: 31.14px 24.07px 30.15px 25px;
  transition: all 0.2s ease-in;
}
.input_photo_1:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 10px 16px aqua
}
.page1_box_photo2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.input_photo1 {
  border-radius: 16px;
  width: 170px;
  height: 96px;
  box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);
  background: rgb(255, 255, 255);
  transition: all 0.2s ease-in;
}
.input_photo1:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 10px 16px aqua
}
.input_photo1_1 {
  border-radius: 16px;
  width: 170px;
  height: 96px;
  box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);
  background: rgb(255, 255, 255);
  transition: all 0.2s ease-in;
}
.input_photo1_1:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 10px 16px aqua
}
.page1_box_photo3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 60px;
}
.input_photo2 {
  border-radius: 16px;
  width: 170px;
  height: 96px;
  box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);
  background: rgb(255, 255, 255);
  transition: all 0.2s ease-in;
}
.input_photo2:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 10px 16px aqua
}
.input_photo2_2 {
  border-radius: 16px;
  width: 170px;
  height: 96px;
  box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);
  background: rgb(255, 255, 255);
  transition: all 0.2s ease-in;
}
.input_photo2_2:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 10px 16px aqua
}
.page1_box_photo4 {
  margin-top: 120px;
}
.input_photo3 {
  border-radius: 16px;
  width: 170px;
  height: 96px;
  box-shadow: 0px 30px 40px 0px rgba(212, 217, 232, 0.2);
  background: rgb(255, 255, 255);
  transition: all 0.2s ease-in;
}
.input_photo3:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 10px 16px aqua
}
.input_photo1 {
  padding: 15px 19px;
}
.input_photo1_1 {
  padding: 22px 1.5px;
}
.input_photo2 {
  padding: 19px 26px 18px 26px;
}
.input_photo2_2 {
  padding: 31.03px 26.11px 31.19px 36.09px;
}
.input_photo3 {
  padding: 32px 33px 32px 34px;
}
.Fazliddin_page2 {
  width: 1440px;
  height: 621px;
  background: #fff;
}
.Fazliddin_page2 img {
  margin-top: 147px;
  margin-left: 659px;
}
.Fazliddin_page2 h1 {
  color: rgb(0, 0, 0);
  font-family: Manrope;
  font-size: 48px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 10px;
}
.Fazliddin_page2 p {
  color: rgb(0, 0, 0);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 20px;
}
.page2_button {
  margin-top: 30px;
  margin-left: 617px;
  padding: 25px 40px;
  border-radius: 8px;
  background: rgb(248, 70, 70);
  border: none;
}
.page2_button a {
  color: rgb(255, 255, 255);
  font-family: Manrope;
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.Fazliddin_footer {
  width: 1440px;
  height: 536px;
  background: rgb(248, 70, 74);
  padding-top: 80px;
  padding-left: 104px;
}
.footer_links {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer_block {
  display: flex;
  gap: 100px;
}
.Çözüm a {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
}
.footer_links1 ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer_links1 ul li a {
  color: rgb(230, 230, 230);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  transition: all 0.2s ease-in;
}
.footer_links1 ul li a:hover {
  color: rgb(0, 30, 255);
}
.footer_block1 {
  display: flex;
  gap: 616px;
  margin-top: 50px;
}
.footer_block1 div:nth-child(1) p {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  width: 400px;
}
.footer_box {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 1025px) {
  /*lazizbek part */
  .wrapper{
    width: 100%;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
}
nav{
    display: flex;
    gap: 40px;
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: right;
}
.next{
    padding: 96px 0px 127px 84px;
}
.section-1{
    padding: 120px 0px 90px 0px;
    text-align: center;
}
.section-1 p{
    width: 852px;
}
.section-2{
    display: grid;
    grid-template-columns: auto auto;
}
.section-3{
    width: 100%;

}
.rows{
    width: 100%;
    gap: 30px;
    justify-content: center;
}
.rows img{
    width: 21px;
    margin-top: 10px;
}
.rows p{
    width: 175px;
    font-size: 14px;
    line-height: 21.5px;
    justify-content: center;
    
}
.section-4{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 160px;
}
.first{
    width: 100%;
    gap: 52px;
}
.first img{
    width: 424px;
}
.writings{
    width: 428px;
    gap: 33px;
}
.writings h1{
    width: 515px;
    font-size: 58px;
    line-height: 59.5px;
}
.writings p{
    font-size: 14px;
    line-height: 28.5px;
}
.second{
    width: 100%;
    gap: 56px;
    justify-content: center;
}
.second img{
    width: 424px;
}
.yozuvlar{
    width: 424px;
    gap: 33px;

}
.yozuvlar h1{
    width: 424px;
    font-size: 58px;
    line-height: 59.5px;
}
.yozuvlar p{
    width: 424px;
}
  /*fazliddin brat part */
  .Fazliddin_page1 {
    width: 1023px;
    height: 603px;
    background: rgb(244, 245, 247);
    padding: 59px 0px 59px 0px;
  }
  .Fazliddin_page1 h1 {
    color: rgb(24, 25, 31);
    font-family: Manrope;
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
  }
  .Fazliddin_page1 p {
    color: rgb(24, 25, 31);
    font-family: Manrope;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
  }
  .page1_box {
    display: flex;
    gap: 24px;
  }
  .page1_box_photo {
    width: 170px;
    height: 96px;
    padding: 15px 18px 14px 18px;
    margin-left: 38.5px;
  }
  .Fazliddin_page2 {
    width: 1023px;
    height: 634px;
    padding-bottom: 160px;
  }
  .Fazliddin_page2 img {
    width: 120px;
    height: 120px;
    margin-left: 452px;
  }
  .page2_button {
    margin-left: 410px;
  }
  .Fazliddin_footer {
    width: 1023px;
    height: 536px;
    padding-top: 80px;
    padding-left: 60.96px;
  }
  .footer_block {
    display: flex;
    gap: 49px;
  }
  .footer_block1 {
    display: flex;
    gap: 396.6px;
    margin-top: 50px;
  }
  .footer_block1 div:nth-child(1) p {
    width: 284.44px;
  }
  .footer_box {
    display: flex;
    gap: 16px;
  }
}

@media screen and (max-width: 376px) {
  /*lazizbek part */
  .wrapper{
    width: 100%;
}
nav{
    padding:35px 20px 0px 20px;
    justify-content: space-between;

}
.home{
    display: none;
}
.icons{
    display: flex;
}
header{
    background-position: center;
}
.next{
    width: 100%;
    padding: 62px 20px 84px 20px;
}
.next h1{
    width: 100%;
    font-size: 42px;
    line-height: 57.5px;
    text-align: center;
}
.next p{
    width: 100%;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
}
.myInput{
    width: 335px;
    height: 59.85px;
}
.myInput input{
    width: 240px;
    height: 100%;
}
.myInput button{
    width: 90px;
    height: 50px;

}
.section-1{
    width: 100%;
    padding: 60px 20px 40px 20px;
}
.section-1 h1{
    width: 100%;
    font-size: 24px;
    line-height: 33px;
}
.section-1 p{
    width: 100%;
    font-size: 12px;
    line-height: 22px;
}
.section-2{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    gap: 80px;
}
.section-3{
    width: 100%;
    padding: 50px 20px 84px 20px;
}
.section-3 h1{
    font-size: 36px;
    line-height: 47px;
}
.rows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rows img{
    margin-top: -10px;
    transform: rotate(90deg);
}
.rows p{
    text-align: center;
}
.section-4{
    width: 100%;
    padding: 0px;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}
.first{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 90px 20px 0px 20px;
}
.writings{
    width: 100%;
}
.writings h1{
    width: 100%;
    font-size: 36px;
    line-height: 41.5px;
    text-align: center;
}
.writings p{
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 28.5px;
}
.writings button{
    width: 100%;
}
.onlyImage{
    width: 100%;
}
.onlyImage img{
    width: 335px;
}
.second{
    width: 100%;
    padding: 0px 20px 79px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.imag{
    width: 100%;
}
.imag img{
    width: 335px;
}
.yozuvlar{
    width: 100%;
}
.yozuvlar h1{
    width: 100%;
    font-size: 36px;
    line-height: 41.5px;
    text-align: center;
}
.yozuvlar p{
    width: 100%;
    font-size: 14px;
    line-height: 28.5px;
    text-align: center;
}
.yozuvlar button{
    width: 100%;
}
  /*fazliddin brat part */
  .Fazliddin_page1 {
    width: 375px;
    height: 944px;
    padding-top: 40px;
  }
  .Fazliddin_page1 h1 {
    color: rgb(0, 0, 0);
    font-family: Manrope;
    font-size: 36px;
    font-weight: 700;
    line-height: 41.5px;
    letter-spacing: 0%;
    text-align: center;
  }
  .Fazliddin_page1 p {
    color: rgb(24, 25, 31);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 14px;
  }
  .page1_box_photo3 {
    display: none;
  }
  .page1_box_photo4 {
    display: none;
  }
  .page1_box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 103.5px;
  }
  .page1_box_photo {
    margin-left: 0px;
    margin-top: 40px;
  }
  .page1_box_photo1 {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .page1_box_photo2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .Fazliddin_page2 {
    width: 375px;
    height: 438px;
  }
  .Fazliddin_page2 img {
    width: 90px;
    height: 90px;
    margin-left: 143px;
    margin-top: 90px;
  }
  .Fazliddin_page2 h1 {
    color: rgb(0, 0, 0);
    font-family: Manrope;
    font-size: 36px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }
  .Fazliddin_page2 p {
    color: rgb(0, 0, 0);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    width: 335px;
    margin-left: 20px;
  }
  .page2_button {
    padding: 0px 40px 0px 40px;
    align-items: center;
    height: 42px;
    border-radius: 8px;
    margin-top: 20px;
    background: rgb(248, 70, 70);
    margin-left: 120px;
  }
  .page2_button a {
    color: rgb(255, 255, 255);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    width: 83px;
  }
  .Fazliddin_footer {
    width: 375px;
    height: 1340px;
    padding-top: 80px;
    padding-left: 20px;
  }
  .footer_block {
    display: flex;
    flex-direction: column;
    gap: 49px;
  }
  .footer_block1 {
    display: flex;
    flex-direction: column;
    gap: 67.69px;
    margin-top: 34.79px;
  }
  .footer_block1 div:nth-child(1) {
    margin-top: 100px;
  }
  .footer_box {
    margin-top: -200px;

  }
}
